@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full text-[16px];
  }
  body {
    @apply h-full bg-white font-avenir text-sm font-normal leading-5 tracking-normal text-gray-primary;
  }

  h1 {
    @apply text-2xl font-normal leading-8;
  }

  h2 {
    @apply text-xl font-normal leading-6;
  }

  h3 {
    @apply text-lg font-normal leading-4.5;
  }

  h4 {
    @apply text-base font-normal leading-5;
  }

  a {
    @apply rounded font-bold text-blue-primary transition-colors duration-100 hover:text-blue-300 active:text-blue-400;
  }

  input {
    @apply border-0;
  }

  textarea {
    @apply resize-none focus:ring-0;
  }

  label {
    @apply select-none;
  }

  /* Accessible focus styles. Excludes <Tab /> and <Select /> since they have their own */
  button:not([role="tab"]):not([aria-haspopup="true"]),
  a,
  input[type="radio"],
  input[type="checkbox"] {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-50 focus-visible:ring-offset-2;
  }

  [role="tab"] {
    @apply focus-visible:outline-none;
  }

  code {
    @apply rounded bg-gray-200 py-1 px-2 text-xs;
  }

  hr {
    @apply h-[1px] w-full bg-gray-300;
  }

  [type="checkbox"]:focus {
    @apply ring-0;
  }

  ::-webkit-search-cancel-button {
    @apply h-5 w-5 cursor-pointer appearance-none bg-[url('/src/public/cancel-search.svg')];
  }
}

@layer components {
  .btn-primary {
    @apply relative inline-flex min-h-[40px] min-w-[120px] items-center justify-center space-x-2 whitespace-nowrap rounded-md border border-blue-primary bg-blue-primary py-2 px-6 text-xs font-bold capitalize leading-6 text-white shadow-sm transition duration-150 ease-out hover:bg-blue-300 hover:shadow active:bg-blue-400 disabled:border-blue-100 disabled:bg-blue-100;
  }

  .btn-secondary {
    @apply relative inline-flex min-h-[40px] min-w-[120px] select-none items-center justify-center space-x-2 whitespace-nowrap rounded-md border border-blue-primary bg-white px-6 py-2 text-xs font-bold capitalize leading-6 text-blue-primary shadow-sm transition duration-75 ease-out hover:border-blue-300 hover:bg-gray-100 hover:text-blue-300 active:border-blue-400 active:bg-gray-200/50 active:text-blue-400 disabled:border-blue-100 disabled:bg-white disabled:text-blue-100;
  }

  .btn-tertiary {
    @apply relative inline-flex select-none items-center justify-center whitespace-nowrap rounded p-2 text-sm font-bold capitalize leading-6 text-blue-primary underline decoration-current decoration-2 underline-offset-4 transition duration-75 ease-out hover:text-blue-300 active:text-blue-400 disabled:text-blue-100;
  }

  .tab-list {
    @apply space-x-7 border-b border-gray-200 pl-6 pb-0.5;
  }

  .tab {
    @apply text-sm capitalize text-gray-secondary shadow-border-b-3 shadow-transparent transition duration-25 hover:shadow-gray-200 focus-visible:outline-none;
  }

  .tab-active {
    @apply text-blue-primary shadow-blue-primary hover:shadow-blue-primary focus:ring-0;
  }
}

@layer base {
  @font-face {
    font-family: "Avenir";
    src: url("/src/public/fonts/Avenir-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Avenir";
    src: url("/src/public/fonts/Avenir-MediumOblique.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Avenir";
    src: url("/src/public/fonts/Avenir-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
}
